<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>askinner.dev</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,300;0,400;0,600;1,100;1,300;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    {% block rss %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path=" rss.xml", trailing_slash=false)
        }}">
    {% endblock %}
</head>

<body>
    <div id="container">
        <section id="header">
            <h1>askinner.dev <span>Andrew Skinner's blog of sorts.</span></h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog">Archive</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/uses">Uses</a></li>
            </ul>
        </section>
        <section id="content">
            {% block content %} {% endblock %}
        </section>
        <section id="footer">
            &copy;
            <script>document.write(new Date().getFullYear())</script> Andrew Skinner
        </section>
    </div>
</body>

</html>
