{% extends "base.html" %}

{% block content %}


{% set blog_section = get_section(path="blog/_index.md") %}
            {% for year, posts in blog_section.pages | group_by(attribute="year") %}
                {% for post in posts %}
                <div class="post">
                    <hr />
                    <h2><a href="{{ post.permalink | safe }}">{{ post.title }}</a></h2>
                    <p class="post_meta"><date>{{ post.date }}</date> - {{ post.reading_time }} minute read</p>
                    {{ post.content | safe }}
                </div>
                {% endfor %}
            {% endfor %}
        
{% endblock content %}